
<div class="wrap">
    <div class="watch">
        <span class="cate">{{cateName}}</span>
        <a href="">Watch all ></a>
    </div>
    <div>
        <swiper
                [slidesPerView]="5"
                [spaceBetween]="15"
                [slidesPerGroup]="1"
                [loop]="true"
                [loopFillGroupWithBlank]="true"
                [pagination]="{clickable: true}"
                [navigation]="true"
                class="mySwiper content">
            <ng-template swiperSlide *ngFor="let item of prods.data">
                <a href="" class="prod-a">
                    <app-product [img]="item.image" [name]="item.name" [price]="item.price" [width]="width"></app-product>
                </a>
            </ng-template>
        </swiper>
    </div>
</div>
