.wrap {
    margin: 30px 15%;

    .div {
        width: 100%;
        background-color: white;
        padding: 15px;
        border-radius: 10px;

        .id {
            font-weight: bold;
        }

        .titleDiv {
            display: grid;
            grid-template-columns: 0.25fr 1fr 3fr 0.5fr 1fr;
            border-radius: 5px;
            margin: 5px 0px;
            font-weight: bold;
            padding: 10px;
        }

        .orderDiv {
            display: grid;
            grid-template-columns: 0.25fr 1fr 3fr 0.5fr 1fr;
            border-bottom: 1px solid rgb(156, 156, 156);
            margin: 10px 0px;
            border-radius: 5px;
            padding: 10px;
        }

        .orderDiv:hover {
            cursor: pointer;
            background-color: rgb(173, 173, 173);
            border-radius: 5px;
        }
    }
}