<div class="wrap" [ngStyle]="{'background': choose == true ? 'linear-gradient(to right, #000022 0%, #0004A4 49%, #292DC5 100%)' : 'linear-gradient(to right, #292DC5 0%, #0004A4 49%, #000022 100%)'}">
    <div class="tab">
        <div [class.tab__div]="choose == true" [class.tab__divChoose]="choose == false" (click)="onChoose('true')">Gaming Gear
        </div>
        <div [class.tab__div]="choose == false" [class.tab__divChoose]="choose == true" (click)="onChoose('false')">Offices
        </div>
    </div>
    <div class="watch">
        <a href="">Watch all ></a>
    </div>
    <div *ngIf="choose == true">
        <swiper
                [slidesPerView]="6"
                [spaceBetween]="15"
                [slidesPerGroup]="1"
                [loop]="true"
                [loopFillGroupWithBlank]="true"
                [pagination]="{clickable: true}"
                [navigation]="true"
                class="mySwiper content">
            <ng-template swiperSlide *ngFor="let item of prods.data">
                <a href="" class="prod-a">
                    <app-product [img]="item.image" [name]="item.name" [price]="item.price" [width]="width"></app-product>
                </a>
            </ng-template>
        </swiper>
    </div>
    <div *ngIf="choose == false">
        <swiper
                [slidesPerView]="6"
                [spaceBetween]="15"
                [slidesPerGroup]="1"
                [loop]="true"
                [loopFillGroupWithBlank]="true"
                [pagination]="{clickable: true}"
                [navigation]="true"
                class="mySwiper content">
            <ng-template swiperSlide *ngFor="let item of prods.data">
                <app-product [img]="item.image" [name]="item.name" [price]="item.price"></app-product>
            </ng-template>
        </swiper>
    </div>
</div>
