<app-slider></app-slider>
<app-tab [prods]="prods" [width]="'80%'"></app-tab>
<app-prod-frame [cateName]="cateName[0]" [prods]="prods" [width]="'80%'" [backImg]="img[5][0]"></app-prod-frame>
<app-prod-frame [cateName]="cateName[1]" [prods]="prods" [width]="'80%'" [backImg]="img[5][1]"></app-prod-frame>
<app-banner [grid]="'1fr 1fr'" [gap]="'5%'" [img]="img[0]"></app-banner>
<div class="brand">
    <div class="text">Featured brand</div>
    <app-banner [grid]="'1fr 1fr 1fr 1fr'" [gap]="'6%'" [img]="img[1]"></app-banner>
    <div class="name">
        <span class="content">Asus</span>
        <span class="content">Microsoft</span>
        <span class="content">HP</span>
        <span class="content">Lenovo</span>
    </div>
</div>
<app-banner [grid]="'1fr 1fr 1fr'" [gap]="'3%'" [img]="img[2]"></app-banner>
<div class="double">
    <div><app-square [title]="title[0]" [bigImg]="img[3][0]" [prods]="prods1"></app-square></div>
    <div><app-square [title]="title[1]" [bigImg]="img[3][1]" [prods]="prods2"></app-square></div>
</div>
<app-banner [grid]="'1fr 1fr 1fr '" [gap]="'4%'" [img]="img[4]"></app-banner>
<app-prod-frame [cateName]="cateName[2]" [prods]="prods" [width]="'80%'" [backImg]="img[5][2]"></app-prod-frame>
<app-prod-pagi [cateName]="cateName[3]" [prods]="prods" [width]="'70%'"></app-prod-pagi>
<app-prod-pagi [cateName]="cateName[4]" [prods]="prods" [width]="'70%'"></app-prod-pagi>