<div class="wrap">
    <div class="component">
        <div class="content">
            <div class="title1">Welcome to PhongVu.vn | Laptop, PC,</div>
            <div class="title2">Monitor, phone, Genuine parts !</div>
            <form action="">
                <div class="user">
                    <div class="title">User name</div>
                    <input type="text" autofocus>
                </div>
                <div class="pass">
                    <div class="title">Password</div>
                    <input type="password">
                </div>
                <div class="div">
                    <span class="text">Forgot password</span>
                    <span class="text">Reset password</span>
                </div>
                <div class="face">
                    <span class="ftext">Login</span>
                </div>
                <div class="google">
                    <span class="gtext">Reset</span>
                </div>
            </form>

        </div>
    </div>
</div>