<div class="wrap">
    <app-loader *ngIf="isLoading"></app-loader>
    <div class="component">
        <div class="content">
            <div class="title1">Welcome to PhongVu.vn | Laptop, PC,</div>
            <div class="title2">Monitor, phone, Genuine parts !</div>
            <form [formGroup]="form">
                <div class="alert"
                    *ngIf="error">User name or password is wrong !
                </div>
                <div class="user">
                    <div class="title">User name</div>
                    <input type="text" autofocus name="username" formControlName="email">
                </div>
                <div class="alert"
                    *ngIf="form.controls.email.dirty && form.controls.email.errors?.required">Email is required
                </div>
                <div class="alert" *ngIf="form.controls.email.dirty && form.controls.email.errors?.pattern">Email
                    invalidate</div>
                <div class="alert" *ngIf="isForgotEmail">Email is required</div>
                <div class="pass">
                    <div class="title">Password</div>
                    <input type="password" name="password" formControlName="password">
                </div>
                <div class="alert"
                    *ngIf="form.controls.password.dirty && form.controls.password.errors?.required">Password is required
                </div>
                <div class="alert" *ngIf="isResetPass">Password is required</div>
                <div class="div">
                    <span class="text" (click)="onForgotClicked()">Forgot password</span>
                    <span class="text" (click)="onResetClicked()">Reset password</span>
                </div>
                <div class="forgotClicked" *ngIf="isForgotClicked">Verification code has been sent to your email</div>
                <div class="forgotClicked" *ngIf="isResetClicked">Password is reseted</div>
                <button class="face" (click)="onLogin()" [disabled]="form.invalid">
                    <span class="ftext">Login</span>
                </button>
                <button class="google" (click)="onResetForm()">
                    <span class="gtext">Reset</span>
                </button>
            </form>
        </div>
    </div>
</div>