<div class="wrap">
    <div class="slider">
        <img [src]="slides[index].img" class="img">
        <div class="bottomDot">
            <span class="dot" [class.chooseDot]="j == index" *ngFor="let slide of slides, let j = index"
                (click)="chooseSlide(j)"></span>
        </div>
        <div class="arrow__div arrow__left" (click)="plusSlide(-1)"><i class="fa fa-chevron-left"
                aria-hidden="true"></i></div>
        <div class="arrow__div arrow__right" (click)="plusSlide(1)"><i class="fa fa-chevron-right"
                aria-hidden="true"></i></div>
    </div>
    <div class="menu">
        <div class="showMenu">
            <ul class="menu__ul1" *ngFor="let cate of cates.data">
                <li class="menu__li1" (mouseover)="getCateName(cate.name)">
                    <a href=""><img [src]="cate.image" class="img">
                        <span class="title">{{cate.name}}</span></a>
                </li>
            </ul>
        </div>
        <div class="hiddenMenu">
            <div class="title">Price of {{cateName}}</div>
            <div class="price">
                <a href="">AUD 0 - AUD 1000</a>
                <a href="">AUD 1000 - AUD 2000</a>
                <a href="">AUD 2000 - AUD 5000</a>
                <a href="">AUD 5000 - AUD 10000</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner__content"><a href=""><img
                    src="https://lh3.googleusercontent.com/UqeJMITX5vQbUdIYbOY5Oia6o8-3KDmXcOvWOAmMqel_WF-msCiPSaXZgwsJih-CuWlRDpDHuma39Vx2pXfIxqIzvSPiyhDL=rw-w308"
                    class="img"></a></div>
        <div class="banner__content"><a href=""><img
                    src="https://lh3.googleusercontent.com/5qGS54hcjxlkDpXX3-PlIesU9iGsy5MiIM3KnuStG8jVew7uJNouG49q-e4GFK36xfvPF0jqEN1VQPGuA3t1NXmVrsvfZZJejg=rw-w308"
                    class="img"></a></div>
        <div class="banner__content"><a href=""><img
                    src="https://lh3.googleusercontent.com/xoTIgq1lG7QCVtnoGK56wUEyRIXx3w739-S0IwcGtRfjLZYeSL3qe75DERcVyaTFCmuI8AQmgI8-izVOl1jKi2EOpZFockFG=rw-w308"
                    class="img"></a></div>
        <div class="banner__content"><a href=""><img
                    src="https://lh3.googleusercontent.com/gkEMX1K0Uj52Qn4mAXCeAD2nCCECXNi4mQavlT3A3HKmrwGKh7XEMz4C-I8_XMUAefDh_rnysdnKJfIQnvxeadXkCzaDutFj7w=rw-w308"
                    class="img"></a></div>
    </div>
</div>
