<div class="wrap" id="top">
    <div class="hr"></div>
    <div class="policy">
        <div class="policy__content">
            <span class="policy__content__title">Customer support</span>
            <span class="policy__content__list">
                <ul>
                    <li><a href="">Preferential card</a></li>
                    <li><a href="">Service Center</a></li>
                    <li><a href="">Payment and delivery</a></li>
                    <li><a href="">Repair and maintenance service</a></li>
                    <li><a href="">Friendly business</a></li>
                </ul>
            </span>
        </div>
        <div class="policy__content">
            <span class="policy__content__title">Purchase Policy and Warranty</span>
            <span class="policy__content__list">
                <ul>
                    <li><a href="">General rules</a></li>
                    <li><a href="">Information Privacy Policy</a></li>
                    <li><a href="">Shipping and Installation Policy</a></li>
                    <li><a href="">Warranty Policy</a></li>
                    <li><a href="">Return and Refund Policy</a></li>
                    <li><a href="">Regulations on price and forms of payment</a></li>
                    <li><a href="">Installment Policy</a></li>
                </ul>
            </span>
        </div>
        <div class="policy__content">
            <span class="policy__content__title">About Phong Vu</span>
            <span class="policy__content__list">
                <ul>
                    <li><a href="">About Phong vu</a></li>
                    <li><a href="">Contact Info</a></li>
                    <li><a href="">Showroom system</a></li>
                    <li><a href="">Q&A</a></li>
                    <li><a href="">Tech news</a></li>
                    <li><a href="">Recruit</a></li>
                </ul>
            </span>
        </div>
        <div class="policy__content">
            <span class="policy__content__title">Phong Vu Community</span>
            <span class="policy__content__list">
                <ul>
                    <li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> Phong Vu Vietnam</a></li>
                    <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i> Phong Vu Media</a></li>
                    <li><a href=""><i class="fa fa-users" aria-hidden="true"></i> Phong Vu Hoi</a></li>
                    <li><a href=""><i class="fa fa-headphones" aria-hidden="true"></i> Call Purchase: <span class="sdt">1800 6867</span> (toll-free)</a></li>
                    <li><a href=""><i class="fa fa-headphones" aria-hidden="true"></i> Call Care: <span class="sdt">1800 6865</span> (toll-free)</a></li>
                </ul>
            </span>
        </div>
        <div class="policy__content">
            <span class="policy__content__title">Contact email</span>
            <span class="policy__content__list">
                <ul>
                    <li><span class="text">Customer Support:</span> <br><a href="mailto:cskh@phongvu.vn" class="mail">cskh@phongvu.vn</a></li>
                    <li><span class="text">Contact for Quotation:</span> <br><a href="mailto:baogia@phongvu.vn" class="mail">baogia@phongvu.vn</a></li>
                    <li><span class="text">Development cooperation:</span> <br><a href="mailto:hoptac@phongvu.vn" class="mail">hoptac@phongvu.vn</a></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="payment">
        <div class="payment__div">
            <span class="payment__div__title">Payment methods</span>
            <div class="payment__div__content">
                <a href=""><i class="fa fa-qrcode" aria-hidden="true"></i> <span class="text">QR Code</span></a>
                <a href=""><i class="fa fa-money" aria-hidden="true"></i> <span class="text">Cash</span></a>
                <a href=""><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="text">Installment</span></a>
                <a href=""><i class="fa fa-credit-card-alt" aria-hidden="true"></i> <span class="text">Internet Banking</span></a>
            </div>
        </div>
        <div class="payment__div">
            <span class="payment__div__title">List of online payment banks</span>
            <div class="payment__div__content"><img src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/banklist.jpg" class="payment__div__content__img"></div>
        </div>
    </div>
    <div class="contact">
        <div class="contact__div">
            <div class="title">PHONG VU TRADING - SERVICE JOINT STOCK COMPANY</div>
            <div class="content">© 1997 - 2020 Phong Vu Trading - Service Joint Stock Company Business <br>registration certificate: 0304998358 first issued by the Department of Planning and <br> Investment of Ho Chi Minh City on May 30, 2007</div>
        </div>
        <div class="contact__div">
            <div class="text">
                <span class="title">Head office address :</span><br>
                <span class="content">5th Floor, No. 117-119-121 Nguyen Du, Ben Thanh Ward, District 1, Ho Chi Minh City</span>
            </div>
            <div class="text">
                <span class="title">Northern Executive Office :</span><br>
                <span class="content">Floor 6, No. 1 Thai Ha Street, Trung Liet Ward, Dong Da District, Hanoi</span>
            </div>
            <div class="text">
                <span class="title">Southern Executive Office :</span><br>
                <span class="content">11th floor Minh Long Tower, No. 17 Ba Huyen Thanh Quan, Vo Thi Sau Ward, District 3, City. Ho Chi Minh</span>
            </div>
        </div>
        <div class="contact__div">
            <div class="content">
                <img src="https://phongvu.vn/media/wysiwyg/phongvu/phongvu_v3/da-dang-ky.png" class="img">
            </div>
            <div class="content">
                <img src="https://images.dmca.com/Badges/dmca-badge-w100-2x1-02.png?ID=53b44883-ed2a-434d-902b-5adce10aafd5" class="img">
            </div>
        </div>
    </div>
</div>
