<div class="wrap">
    <div class="section">
        <div class="prod">
            <div class="diachi">
                <div class="text">
                    <div class="titleDiv">
                        <div class="title">Address</div>
                    </div>
                    <div class="ten">Pham Van A</div>
                    <div class="sdt">0123456789</div>
                    <div class="position">123/A, Can Tho, Viet Nam</div>
                </div>
                <div class="btn">
                    <div class="edit">
                        Edit address
                    </div>
                </div>
            </div>
            <div class="phuongthuc">
                <div class="title">Payment Method</div>
                <div class="methodDiv">
                    <div class="method">VNPAY</div>
                </div>
            </div>
        </div>
        <div class="policy">
            <div class="thongtin">
                <div class="title">
                    <div class="text">Order Info</div>
                    <a [routerLink]="'/user/cart'" class="edit">Edit</a>
                </div>
                <div class="product">
                    <div class="left">
                        <div class="imgDiv">
                            <img src="https://lh3.googleusercontent.com/o-YKRfg4iwHX_QnalEVUH0ZHI5m0AkotLbwNchbAhUbIrdBK-wyBC-K-F6J9SZuk5ruMrWSAPnAMs5f7X3I=rw" class="img">
                        </div>
                    </div>
                    <div class="right">
                        <div class="name">Name Name Name Name Name Name Name Name</div>                        <div class="qua">Quantity: 10</div>
                        <div class="price">AUD 100</div>
                    </div>
                </div>
                <div class="product">
                    <div class="left">
                        <div class="imgDiv">
                            <img src="https://lh3.googleusercontent.com/o-YKRfg4iwHX_QnalEVUH0ZHI5m0AkotLbwNchbAhUbIrdBK-wyBC-K-F6J9SZuk5ruMrWSAPnAMs5f7X3I=rw" class="img">
                        </div>
                    </div>
                    <div class="right">
                        <div class="name">Name Name Name Name Name Name Name Name</div>                        <div class="qua">Quantity: 10</div>
                        <div class="price">AUD 100</div>
                    </div>
                </div>
            </div>
            <div class="thanhtoan">
                <div class="div">
                    <div class="title2">Pay</div>
                    <div class="content">
                        <span class="text">Provisional</span><span class="price">AUD 10</span>
                    </div>
                    <div class="content">
                        <span class="text">Delivery fee</span><span class="deli">AUD 10</span>
                    </div>
                    <div class="content">
                        <span class="text">Discount</span><span class="promo">AUD 10</span>
                    </div>
                    <div class="content">
                        <span class="text">Into money</span><span class="redprice">AUD 10</span>
                    </div>
                    <div class="vat">(VAT included)</div>
                    <button class="pay">PAY</button>
                </div>
            </div>
        </div>
    </div>
</div>