.breakcrum {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 15px 50px;

    a {
        text-decoration: none;
        color: black;

        .home {
            height: 35px;
            background-color: white;
            width: 35px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            margin-right: 10px;
            border: 1px solid rgb(190, 190, 190);
        }
    }

    .lv1 {
        height: 32px;
        border-radius: 17.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        padding: 0px 15px;
        margin-left: 10px;
        border: 1px solid rgb(190, 190, 190);
        background-color: white;
    }
}

.wrap {
    padding: 0px 0px 0px 0px;

    .section {
        display: grid;
        grid-template-columns: 2fr 1.25fr;
        gap: 15px;
        margin: 0px 50px;

        .prod {
            width: 100%;

            .diachi {
                background-color: white;
                border-radius: 10px;
                margin-bottom: 15px;
                padding: 15px;

                .text {
                    .titleDiv {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 15px;

                        .title {
                            font-size: 1.25em;
                            font-weight: bold;
                        }
                    }

                    .addDIV {
                        border-radius: 5px;
                        margin-bottom: 5px;
                        padding: 15px;

                        .edit {
                            color: blue;
                            display: flex;
                            justify-content: space-between;
                            font-size: 0.8em;
                            font-weight: bold;

                            .editBtn:hover {
                                color: rgb(0, 0, 145);
                            }
                        }

                        .ten {
                            color: blue;
                            font-weight: bold;
                        }

                        .ten,
                        .sdt,
                        .position {
                            display: flex;
                            justify-content: center;
                            margin-bottom: 5px;
                        }
                    }

                    .addDIV:hover {
                        cursor: pointer;
                        border: 2px solid blue !important;
                    }
                }

                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;

                    .add {
                        width: 100%;
                        padding: 15px;
                        background-color: blue;
                        color: white;
                        font-weight: bold;
                        font-size: 1em;
                        border-radius: 5px;
                        text-align: center;
                    }

                    .add:hover {
                        cursor: pointer;
                        background-color: rgb(0, 0, 151);
                    }
                }
            }

            .formDiv {
                background-color: white;
                width: 100%;
                border-radius: 10px;
                padding: 15px;

                .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 1.5em;
                    margin-bottom: 30px;
                }

                .inputDiv {
                    margin-bottom: 20px;

                    .name {
                        font-size: 1em;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }

                    input {
                        padding: 10px;
                        border: 1px solid rgb(187, 187, 187);
                        border-radius: 5px;
                        width: 100%;
                    }

                    select {
                        padding: 10px;
                        border: 1px solid rgb(187, 187, 187);
                        border-radius: 5px;
                        width: 100%;
                    }
                }

                .checkbox {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 20px;

                    input {
                        margin-right: 10px;
                    }

                    .text {
                        font-weight: bold;
                        padding: 2px 0px 0px 0px;
                    }
                }

                .btn {
                    padding: 10px 20px;
                    background-color: blue;
                    color: white;
                    border-radius: 5px;
                    border: none;
                }

                .btn:hover {
                    cursor: pointer;
                    background-color: rgb(0, 0, 170);
                }

                .cancel {
                    background-color: yellow;
                    color: black;
                    margin-left: 15px;
                }

                .cancel:hover {
                    background-color: rgb(184, 184, 0);
                }
            }

            .phuongthuc {
                background-color: white;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title {
                    font-size: 1.25em;
                    font-weight: bold;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                }

                .methodDiv {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;


                    .method {
                        padding: 15px;
                        width: 100%;
                        font-weight: bold;
                        text-align: center;
                        border-radius: 5px;
                        margin-bottom: 5px;

                        .remove {
                            color: red;
                            font-size: 0.8em;
                            display: flex;
                            justify-content: end;
                            align-items: center;
                        }

                        .remove:hover {
                            cursor: pointer;
                            color: rgb(153, 0, 0);
                        }
                    }

                    .method:hover {
                        cursor: pointer;
                        border: 2px solid blue !important;
                        color: blue !important;
                    }
                }

                .btn {
                    width: 100%;
                    padding: 15px;
                    background-color: blue;
                    color: white;
                    font-weight: bold;
                    font-size: 1em;
                    border-radius: 5px;
                    text-align: center;
                }

                .btn:hover {
                    cursor: pointer;
                    background-color: rgb(0, 0, 151);
                }
            }

            .addPMDiv {
                background-color: white;
                padding: 15px;
                border-radius: 10px;
                margin-bottom: 15px;

                .btn {
                    width: 100%;
                    padding: 15px;
                    background-color: blue;
                    border: none;
                    color: white;
                    border-radius: 5px;
                    font-weight: bold;
                    text-align: center;
                }
        
                .btn:hover {
                    cursor: pointer;
                    background-color: rgb(0, 0, 138);
                }
            }
        }

        .policy {
            width: 100%;

            .thongtin {
                background-color: white;
                border-radius: 10px;
                margin-bottom: 15px;
                padding: 15px;

                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;

                    .text {
                        font-size: 1.25em;
                        font-weight: bold;
                    }

                    .edit {
                        color: blue;
                        margin-right: 20px;
                        text-decoration: none;
                    }

                    .edit:hover {
                        cursor: pointer;
                        color: rgb(0, 0, 187);
                    }
                }

                .product {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    border-bottom: 1px dashed rgb(202, 202, 202);
                    padding-bottom: 10px;

                    .left {
                        .imgDiv {
                            width: 80px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid rgb(187, 187, 187);

                            .img {
                                width: 80%;
                            }
                        }
                    }

                    .right {
                        margin-left: 10px;

                        .name {
                            font-weight: bold;
                        }

                        .qua {
                            color: gray;
                        }

                        .price {
                            font-weight: bold;
                            color: blue;
                        }
                    }
                }
            }

            .thanhtoan {
                background-color: white;
                border-radius: 10px;
                margin-bottom: 20px;

                .div {
                    background-color: white;
                    border-radius: 10px;
                    padding: 15px;

                    .title2 {
                        font-size: 1.5em;
                        font-weight: bold;
                        margin-bottom: 15px;
                    }

                    .content {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;

                        .text {
                            color: gray;
                            font-size: 1em;
                        }

                        .price {
                            font-size: 1em;
                            font-weight: bold;
                        }

                        .promo {
                            color: rgb(179, 179, 58);
                        }

                        .redprice {
                            font-size: 1.25em;
                            font-weight: bold;
                            color: red;
                        }
                    }

                    .vat {
                        display: flex;
                        justify-content: end;
                        color: gray;
                    }

                    .pay {
                        color: white;
                        font-family: bold;
                        background-color: blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 15px;
                        padding: 15px;
                        border-radius: 5px;
                        border: none;
                        width: 100%;
                    }

                    .pay:hover {
                        cursor: pointer;
                        background-color: rgb(0, 0, 141);
                    }
                }
            }
        }
    }
}