<div class="anniversary">
    <img class="anniversary__img" src="https://lh3.googleusercontent.com/7QWRyS6YRaxrLXIEeoTDrW45gT79bwkXsL6YkWy5W1H163fl-fFONtqqEyDTRQGmOb9ldNYfyFUht34miPDRwmvfQS2Kvlk4=w1920-rw">
</div>
<div class="lienhe">
    <div class="lienhe__1"></div>
    <div class="lienhe__2">
        <a href="" class="lienhe__link">
            <div class="lienhe__link__icon"><i class="fa fa-building-o" aria-hidden="true"></i></div>
            <div class="lienhe__link__text">Showroom</div>
        </a>
        <a href="" class="lienhe__link">
            <div class="lienhe__link__icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
            <div class="lienhe__link__text">Advise: <span class="lienhe__link__sdt">1800 6867</span></div>
        </a>
        <a href="" class="lienhe__link">
            <div class="lienhe__link__icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
            <div class="lienhe__link__text">Customer care: <span class="lienhe__link__sdt">1800 6865</span></div>
        </a>
        <a href="" class="lienhe__link">
            <div class="lienhe__link__icon"><i class="fa fa-television" aria-hidden="true"></i></div>
            <div class="lienhe__link__text">News</div>
        </a>
        <a href="" class="lienhe__link">
            <div class="lienhe__link__icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
            <div class="lienhe__link__text">Build configuration</div>
        </a>
    </div>
</div>
<div class="navbar">
    <div class="narbar__logo"><a href=""><img src="https://phongvu.vn/phongvu/logo-full.svg" class="navbar__logo__img"></a></div>
    <div class="navbar__content">
        <div class="navbar__content__search">
            <input type="text" class="navbar__content__search__input" placeholder="Enter keyword to search">
            <a class="navbar__content__search__btn" href=""><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="navbar__content navbar__nav">
        <a href="" class="navbar__nav__tag">
            <i class="fa fa-tag navbar__nav__tag__icon" aria-hidden="true"></i>
            <span class="text">Promotion</span>
        </a>
        <a href="" class="navbar__nav__tag">
            <i class="fa fa-calendar-check-o navbar__nav__tag__icon" aria-hidden="true"></i>
            <span class="text">Order</span>
        </a>
        <a href="" class="navbar__nav__tag">
            <i class="fa fa-user-circle navbar__nav__tag__icon" aria-hidden="true"></i>
            <span class="text">Login</span>
        </a>
        <a href="" class="navbar__nav__tag navbar__nav__tagNoti">
            <i class="fa fa-bell-o navbar__nav__tag__icon" aria-hidden="true"></i>
            <span class="text">Notify</span>
            <div class="divNoti">

            </div>
        </a>
        <a href="" class="navbar__nav__tag navbar__nav__tagCart">
            <i class="fa fa-shopping-cart navbar__nav__tag__icon" aria-hidden="true"></i>
            <span class="text">Cart</span>
            <div class="divCart">

            </div>
        </a>
    </div>
</div>