.wrap {
    padding: 15px 0px 0px 0px;

    .breakcrum {
        height: 30px;
        display: flex;
        align-items: center;
        margin: 15px 20px;

        a {
            text-decoration: none;
            color: black;

            .home {
                height: 35px;
                background-color: white;
                width: 35px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2em;
                margin-right: 10px;
                border: 1px solid rgb(190, 190, 190);
            }
        }

        .lv1 {
            height: 32px;
            border-radius: 17.5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8em;
            padding: 0px 15px;
            margin-left: 10px;
            border: 1px solid rgb(190, 190, 190);
            background-color: white;
        }
    }

    .section1 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 15px;
        margin: 20px;

        .prod {
            width: 100%;
            background-color: white;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 7fr 10fr;
            gap: 5px;
            padding: 20px;

            &__img {
                width: 100%;

                .big {
                    width: 100%;
                    height: 355px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .big_img {
                        width: 90%;
                    }
                }

                .small {
                    width: 100%;
                    height: 80px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 0px 20px;
                    border-bottom: 1px rgb(200, 200, 200) dashed;

                    .small_img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .text {
                    padding: 40px 10px 10px 10px;
                }
            }

            &__basicInfo {
                width: 100%;
                padding: 15px;

                .title {
                    font-size: 1.5em;
                    line-height: 1.25em;
                    font-weight: bold;
                }

                .brand {
                    padding: 5px 0px;
                    font-size: 1em;
                    color: gray;

                    a {
                        color: blue;
                        text-decoration: none;
                    }
                }

                .color {
                    margin-top: 10px;
                    padding: 5px 0px;
                    font-weight: bold;
                    font-size: 1em;
                    color: rgb(121, 121, 121);

                    .chooseColor {
                        padding: 10px 15px;
                        color: blue;
                        margin: 10px 0px 0px 0px;
                        border: 1px solid blue;
                        border-radius: 5px;
                        width: max-content;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }

                    .chooseColor:hover {
                        cursor: pointer;
                    }
                }

                .type {
                    margin-top: 10px;
                    padding: 5px 0px;
                    font-weight: bold;
                    font-size: 1em;
                    color: rgb(121, 121, 121);


                    .chooseType {
                        padding: 10px 15px;
                        color: blue;
                        margin: 10px 0px 0px 0px;
                        border: 1px solid blue;
                        border-radius: 5px;
                        width: max-content;
                        display: flex;
                        justify-content: center;
                        text-align: center;
                    }

                    .chooseType:hover {
                        cursor: pointer;
                    }
                }

                .price {
                    color: blue;
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-top: 20px;
                }

                .discount {
                    color: gray;
                    font-size: 0.8em;
                    text-decoration: line-through;
                    line-height: 0.9em;
                    padding-bottom: 30px;
                    border-bottom: 1px rgb(200, 200, 200) dashed;
                }

                .promoText {
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-top: 30px;
                }

                .promoDiv {
                    margin-top: 10px;
                    height: 90px;
                    width: 100%;
                    border-radius: 7px;
                    display: grid;
                    grid-template-columns: 1fr 5fr 1fr;

                    .icon {
                        width: 70px;
                        height: 68px;
                        border-radius: 10px 10px 10px 10px;
                        margin: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(255, 196, 196);

                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .text1 {
                        .title {
                            font-size: 1em;
                            padding: 5px 0px;
                        }

                        .hsd {
                            margin-top: 35px;
                            color: rgb(189, 189, 189);
                            font-size: 0.9em;
                        }
                    }

                    .text2 {
                        font-size: 1em;
                        color: rgb(47, 47, 255);
                        display: flex;
                        justify-content: end;
                        align-items: end;
                        padding: 15px;
                    }
                }

                .promoDiv:hover {
                    cursor: pointer;
                }

                .btn {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    padding: 15px 0px;

                    .buy {
                        width: 100%;
                        height: 50px;
                        background-color: rgb(0, 0, 230);
                        color: white;
                        font-size: 1em;
                        font-weight: bold;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .buy:hover {
                        background-color: rgb(0, 0, 201);
                        cursor: pointer;
                    }

                    .add {
                        width: 100%;
                        height: 50px;
                        background-color: white;
                        color: rgb(0, 0, 230);
                        font-size: 1em;
                        font-weight: bold;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid blue;
                    }

                    .add:hover {
                        cursor: pointer;
                    }
                }

                .addedDiv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 15px;
            
                    .added {
                        .noti {
                            width: 250px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: green;
                            font-weight: bold;
                            background-color: rgb(255, 255, 255);
                            border-radius: 5px;
                            border: 1px solid;
            
                        }
                    }
                }

                .relate {
                    .title {
                        font-weight: bold;
                        font-size: 1em;
                        margin-bottom: 10px;
                    }

                    ul {
                        padding-left: 30px;

                        li {
                            .code {
                                font-weight: bold;
                            }

                            .price {
                                color: red;
                                font-size: 1em;
                            }

                            .see {
                                color: blue;
                                text-decoration: underline;
                            }

                            .see:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .relateImg {
                    height: 135px;
                    border-radius: 7px;
                    margin-top: 20px;

                    .img {
                        width: 100%;
                        border-radius: 7px;
                    }
                }

                .relateImg:hover {
                    cursor: pointer;
                }
            }
        }

        .policy {
            width: 100%;
            height: 330px;
            background-color: white;
            border-radius: 10px;
            padding: 15px;

            .title {
                font-weight: bold;
                font-size: 1em;
            }

            ul {
                list-style: none;
                padding: 10px 0px 20px 0px;

                li {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 5px;
                    }

                    .watch {
                        margin-left: 32px;
                        color: blue;
                        text-decoration: underline;
                    }

                    .watch:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}